html, body {
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color:#888;
  font-weight: lighter;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 10px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:100%;
}

#root {
  height:100vh;
  max-height:100vh;
  overflow:hidden;
  display: flex;
  width:100%;
}

.material-icons, .material-icons-outlined {
  color: gray;
  font-size: 1.6em;
  margin-right: 10px;
  padding-top: 3px;
}

main {
  display: inline-flex;
  max-height: calc(100vh - 44px);
  width: calc(100vw - 280px);
  align-items:flex-start;
  justify-content: center;
  margin-top:44px;
  min-height: 50vh;
  overflow-y:auto;
  flex:auto;
  min-width:300px;
  padding-bottom:200px;
}

.content {
  width:100%;
  max-width:740px;
  animation: fade-in 1s;
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}

.button {
  border-radius: 4px;
  cursor:pointer;
  color:gray;
  display:inline-block;
  padding:7px 10px 8px;
  min-width: 65px;
  text-align:center;
  margin-top:5px;
  margin-right: 7px;
  font: 0.9em Calibri;
  background:whitesmoke;
}

.button:hover {
  color:black;
}

.button-dark-theme {
  background:#303030;
  color:white;
}

.button-dark-theme:hover {
  color:white;
}

.section {
  font-size:0.8em;
  font-weight:bold;
  padding-top:70px;
}

.section span {
  font-size:small;
  font-weight: normal;
  color:gray;
  margin-left:10px;
}

.line {
  height:15px;
  border-bottom:1px solid gainsboro;
}

.header {
  position:fixed;
  background:white;
  width:800px;
  padding:20px 0;
  font-size:1.1em;
  font-weight:bold;
}

.header span {
  color:gray;
  font-size:0.7em;
  font-weight:normal;
  margin-left:10px;
}




.calendar {
  color:#3c4043;
  font-size:24px;
  font-weight:400;
  border-bottom:1px solid gainsboro;
  position:sticky;
  top:0;
  width:100%;
}

.calendar-toolbox {
  float:right;
  display:flex;
}

.calendar-bold {
  color:#3c4043;
  margin-top:30px;
  margin-bottom:0; 
  margin-left:5px;
  font-size:xx-large;
  font-weight:600;
  line-height:32px;
}

.calendar-normal {
  color:gray;
  margin-top:2px;
  margin-bottom:0px; 
  margin-left:5px; 
  font-size:small;
}

.calendar-label { 
  margin-right:5px; 
  padding:2px 8px;
  color:dimgray;
  background:whitesmoke;
  float:right;
  font-size:small; 
  font-weight:bold;
  margin-top:14px;
}

.space {
  padding-top:30px;
}

.icon-button {
  cursor:pointer;
  color:#ccc;
  font-size:18pt;
  padding:1px;
  margin:1px;
  background:#fff;
  border:1px solid gainsboro;
  border-radius:3px;
  user-select: none;
  display:inline-block;
}

.text-button {
  cursor:pointer;
  margin:1px;
  background:#fff;
  border:1px solid gainsboro;
  border-radius:3px;
  user-select: none;
  display:inline-block;
  font-size: 10pt;
  padding:5px 10px;
  margin-left: 2px;
  color:gray;
}

p {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding:1px 4px 2px;
  margin:12px 0;
}

.inline-button {
  color:gray;
  font-size:0.9em;
  padding-left:2px;
}

.inline-button:hover {
  color:black
}

.input-box {
  margin:0px;
  margin-top:15px;
  border: 1px solid lightgray;
  border-radius:6px;
  outline: none;
  font: 0.9em Calibri;
}




progress {
  height:2px;
  width:100%;
  border:none;
}

/* For Chrome or Safari */
progress::-webkit-progress-bar {
  background-color: #eeeeee;
}

progress::-webkit-progress-value {
  background-color: #2ad!important;
}

.progress-bar {
  font-weight:500; 
  font-size:10pt; 
  margin:30px 5px 0px;
  color:gray;
  line-height:1;
}

.progress-bar span {
  text-transform:uppercase;
}

input[type="checkbox"], input[type="radio"] {
  filter: hue-rotate(340deg);
  height:18px;
  width:18px;
  vertical-align:middle;
}

@media (hover: hover) {
  .icon-button:hover, .text-button:hover {
    background:whitesmoke;
    color:gray;
  } 
}

@media screen and (max-width: 800px) {
  main {
    padding: 0px 10px 150px;
  }
  .content {
    width:100%;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 0px 50px 150px;
  }
}