.navbar {
  box-sizing: border-box;
  height: 44px;
  background-color: transparent;
  color:gray;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-shrink: 0;
  border-bottom: 1px solid transparent;
  padding-left: 28px;
  padding-right: 28px;
  padding:0;
  position:fixed;
  width:100vw;
  flex:0 0 100vw;
}

.navbar i {
  cursor:pointer;
  padding:10px 15px;
}

.right {
  height:28px;
  line-height:28px;
  vertical-align: middle;
  position:absolute;
  right:24px;
  top:18px;
}

.avatar {
  height:28px;
  border-radius:15px;
  cursor:pointer;
}

.small {
  display:inline-block;
  vertical-align:top;
  font-size:x-small;
  line-height:14px;
  margin:0 15px;
}

.search-box {
  background: #eee;
  border: 1px solid transparent;
  border-radius: 4px;
  color:black;
  padding:4px;
  outline: none;
  padding-left:30px;
  margin-left:2px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight:normal;
  width:180px;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' aria-hidden='true' class='search_icon'%3E%3Cpath d='M10.5 3a7.5 7.5 0 015.645 12.438l4.709 4.708a.502.502 0 01-.708.708l-4.708-4.709A7.5 7.5 0 1110.5 3zm0 1a6.5 6.5 0 100 13 6.5 6.5 0 000-13z' fill='gray'%3E%3C/path%3E%3C/svg%3E") no-repeat 2px center;
}

.menu-icon {
  height:24px;
  width:20px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='menu_icon' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='gray' fill-rule='evenodd' d='M4.5 5h15a.5.5 0 110 1h-15a.5.5 0 010-1zm0 6h15a.5.5 0 110 1h-15a.5.5 0 110-1zm0 6h15a.5.5 0 110 1h-15a.5.5 0 110-1z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:lightgray;
  opacity: 1; /* Firefox */
  font-weight: 100;
  font-size:14px;
}

@media (hover: hover) {
  .menu-icon:hover {
    background-color: hsla(0,0%,100%,.2);
  }
}

@media screen and (max-width: 360px) {
  .search-box {
    background-color:transparent;
    margin-left:0;
    width:20px;
  }
}

@media screen and (max-width: 768px) {
  .navbar i {
    padding:10px;
  }
  .right {
    right:10px;
  }
}