.settings-popup {
    position:absolute;
    background:white;
    border:1px solid lightgray;
    border-radius:10px;
    width:280px;
    top:48px;
    right:22px;
    box-shadow: 0 0 5px lightgray;
}

.avatar-big {
    height:50px;
    border-radius:25px;
    cursor:pointer;
    vertical-align: top;
    margin:5px;
  }

.settings-section {
    border-bottom:1px solid lightgray;
    display: inline-block;
    color:black;
    font-size: 14px;
    padding:5px 5px 20px;
    width:100%;
}

.settings-card {
    display:inline-block;
    padding:12px 10px 0;
    line-height:1.2;
}

.settings-card span {
    color:gray;
    font-weight: bold;
}

.settings-card small {
    color:#aaa;
}

.settings-menu-item {
    padding:4px 10px;
    border-bottom:1px solid lightgray;
    margin:1px 0;
    color:black;
    font-size: 14px;
    cursor:pointer;
}

.settings-menu-item:last-child {
    border:0;
}

.settings-menu-item i {
    padding:10px 5px;
    vertical-align:middle;
}

.settings-right {
    float:right;
    font-size:28px;
    padding:0 4px!important;
}

@media (hover: hover) {
    .settings-menu-item:hover {
      background:#eee;
    }
}